
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(FredokaOne.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: Play;
  src: url(Play-Regular.ttf);
}
@font-face {
  font-family: 'Share Tech Mono';
  src: url(ShareTechMono-Regular.ttf);
}

*{
  outline:none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html{
  background:#333;
  overflow: hidden;
}
body{
  position: relative;
  margin: 0;
  padding: 0 0 0px;
  height: 100%;
  color: #fff;
  font-family: 'Fredoka One',cursive;
  width: 100%;
  overflow: hidden;
  display: block;
  min-height: 100%;
  font-size: 16px;
  line-height: 120%;
}
div{
  
}
button{
  font-family:'Fredoka One',cursive;
  color:#1c5e45;
  background: rgb(169,220,198);
  background: -moz-linear-gradient(top, rgba(169,220,198,1) 0%, rgba(54,134,99,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,220,198,1)), color-stop(100%,rgba(54,134,99,1)));
  background: -webkit-linear-gradient(top, rgba(169,220,198,1) 0%,rgba(54,134,99,1) 100%);
  background: -o-linear-gradient(top, rgba(169,220,198,1) 0%,rgba(54,134,99,1) 100%);
  background: -ms-linear-gradient(top, rgba(169,220,198,1) 0%,rgba(54,134,99,1) 100%);
  background: linear-gradient(to bottom, rgba(169,220,198,1) 0%,rgba(54,134,99,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9dcc6', endColorstr='#368663',GradientType=0 );
  border-top: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(34, 89, 65, 1);
  border-radius:5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
button:hover{
  color:#fff;
}
button:active{
  background:#fff;
  color:rgb(169,220,198);
}
button:disabled{
  opacity:0.5;
  color:#1c5e45;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  line-height: normal;
}
h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 20px;
  font-size: 40px;
}
h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 20px;
  font-size: 30px;
}
h3{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 20px;
  font-size: 20px;
}
a{
  color: #fff;
}
audio {
  display: none;
}
.audioplay,.audiopause{
  display: inline-block;
  background: rgb(27, 188, 157);
  padding: 5px;
  height: 24px;
  width: 24px;
  border: 3px solid #fff;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 19;
}
.audioplay{
  display: none;
}
.d1,
.d2{
  background:#000;
  width:50%;
  height:100%;
  min-height:250px;
  margin:0;
  position:absolute;
  display:block;
  border-radius:0%;
  z-index:1;
}
.d1{
  left:0;
  top:0px;
}
.d2{
  right:0px;
  top:0px;
}
.b{
  display:block;
  width:50px;
  height:50px;
  background:#f00;
  border:0px dashed #fff;
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  box-shadow:inset 0 0 1px 0px #fff;
}
.b:active{
  background:#ccc;
}
.mn{
  position:absolute;
  left:50%;
  top:0;
  margin:0 0 0 -500px;
  width:1000px;
  height:400px;
  z-index:10;
}
.mny{
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
.buysell{
  width: 200px;
  height: 50px;
  margin: 0 auto 20px;
  display: block;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
  background: rgb(27, 188, 157);
  color: #fff;
  font-family: 'Fredoka One',cursive;
  font-size: 30px;
  text-transform: uppercase;
}
.panel{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:40px;
  display:block;
  z-index:20;
}
.panel .month{
  float:right;
  width:40%;
  text-align:right;
  line-height:40px;
  padding-right:20px;
  display:none;
}
.panel .moneyblock{
  position: absolute;
  width: auto;
  right: 18px;
  top: 0px;
}
.panel .moneyblock .money{
  font-size: 20px;
  position: relative;
  top: 10px;
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
.panel .moneyblock .addmoney{
  width:20px;
  height:20px;
  line-height:12px;
  text-align:center;
  padding:0;
  display: none;
}
.panel .loan{
  position: absolute;
  top: 72px;
  right: 18px;
  font-size: 12px;
  color: #f00;
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
.panel .month .days{
  
}
.panel .in{
  position: absolute;
  top: 33px;
  right: 18px;
  font-size: 16px;
  color: #0e0;
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
.panel .out{
  position: absolute;
  top: 54px;
  right: 18px;
  font-size: 16px;
  color: #f00;
  font-family: 'Play',sans-serif;
  font-weight: bold;
}
.panel .progress{
  position: absolute;
  top: 15px;
  left: 18px;
  height: 16px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 3px;
  overflow: hidden;
}
.progress:before {
  content: '⌚';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  color: #29b8e5;
  font-size: 14px;
  top: 3px;
  left: 5px;
  font-weight: bold;
  line-height: 9px;
}
.panel .progress .progress-bg{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,226,226,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
  border-radius: 0px;
}
.tonnel1{
  position: absolute;
  z-index: 3;
  left: 0;
  top: 270px;
  width: calc(50% - 500px);
  height: 50px;
  background: url(../img/tonnel1.png) no-repeat 100% 0;
}
.tonnel2{
  position: absolute;
  z-index: 3;
  right: 0;
  top: 270px;
  width: calc(50% - 500px);
  height: 50px;
  background: url(../img/tonnel2.png) no-repeat 0% 0;
}
.bonus{
  position: relative;
  height: 20px;
  width: 194px;
  border: 3px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 20px;
}
.bonus:before {
  content: 'BONUS';
  color: #fff;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.bonus .bonuss {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background: #ffe100;
  border-radius: 2px;
}

.table{
  width: 100%;
}
.table td{
  padding: 10px 5px;
  background: rgba(255,255,255,0.1);
}
.table tr:nth-child(2n+1) td{
  background: rgba(255,255,255,0.2);
}
.copy{
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 320px;
  text-align: center;
  height: 50px;
  display: table;
  z-index: 5;
  padding: 0;
  margin: 0 0 0 -160px;
  list-style: none;
}
.copy li{
  display: table-cell;
  position: relative;
  height: 30px;
  padding: 10px;
  margin: 0;
  vertical-align: top;
  text-align: center;
  width: 25%;
}
.copy li button{
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  background: url(../img/icons.png) no-repeat 0 0;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #666;
  border-radius: 100%;
}
.copy li button[data-target="work"]{
  background-position: 0px -50px;
}
.copy li button[data-target="work"]:hover{
  background-position: 0px 0px;
}
.copy li button[data-target="loan"]{
  background-position: -50px -50px;
}
.copy li button[data-target="loan"]:hover{
  background-position: -50px 0px;
}
.copy li button[data-target="rules"]{
  background-position: -100px -50px;
}
.copy li button[data-target="rules"]:hover{
  background-position: -100px 0px;
}
.copy li button[data-target="credits"]{
  background-position: -150px -50px;
}
.copy li button[data-target="credits"]:hover{
  background-position: -150px 0px;
}
.bg{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:0;
  background: #29b8e5;
  background: rgb(5,171,224);
  background: -moz-linear-gradient(top, rgba(5,171,224,1) 0%, rgba(83,203,241,1) 60%, rgba(135,224,253,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,171,224,1)), color-stop(60%,rgba(83,203,241,1)), color-stop(100%,rgba(135,224,253,1)));
  background: -webkit-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%);
  background: -o-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%);
  background: -ms-linear-gradient(top, rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%);
  background: linear-gradient(to bottom, rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 );
}
.body{
  overflow: auto;
  z-index: 20;
  position: fixed;
  padding: 80px 18px 30px;
  height: calc(100% - 110px);
  width: calc(100% - 36px);
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.back{
  position: fixed;
  left: 18px;
  top: 12px;
  z-index: 21;
  display: none;
  background: #86ceae url(../img/back.png) no-repeat 50% 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.alert{
  position: fixed;
  top: 20%;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -106px;
  z-index: 25;
  display: none;
}
.alert:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}
.alert-content{
  padding: 20px;
  color: #fff;
  position: relative;
  z-index: 2;
  background: #86ceae;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
}
.sell{
  background: #fff;
  color: #86ceae;
}
.alert-close{
  background: #fff;
  position: absolute;
  top: -13px;
  right: -13px;
  width: 20px;
  height: 20px;
  color: #86ceae;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  border: 3px solid #fff;
  border-radius: 20px;
  z-index: 3;
  cursor: pointer;
}
.stars{
  color: #ff0;
}
.preload{
  display:block;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:#86ceae url(../img/logo_rent100-2.png) no-repeat 50% 50%;
  color:#999;
  z-index:100;
}
.preload .preloader{
  position: absolute;
  width: 198px;
  left: 50%;
  margin-left: -99px;
  height: 34px;
  bottom: 30px;
  background: #86ceae;
  padding: 1px;
  border-radius: 3px;
  overflow: hidden;
}
.preload .preloader img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.preload .preloader .preloaderbg{
  position:relative;
  height:100%;
  width:0%;
  background:#fff;
  display:block;
}
.preload .load-datsko{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff url(../img/logo_datsko.png) no-repeat 50% 50%;
  display: block;
  z-index: 30;
}

#bg{
  background:;
  position:absolute;
  z-index:1;
  left:0px;
  top:0px;
  display:none;
}
.logo{
  position: fixed;
  z-index: 25;
  left: 50%;
  margin-left: -25px;
  top: 10px;
  width: 38px;
  display: none;
}
#action{
  position: absolute;
  z-index: 3;
  left: 50%;
  margin: 0 0 0 -500px;
  top: 0px;
}
.amount{
  width: 200px;
  height: 50px;
  margin: 0 auto 20px;
  display: block;
  border: 3px solid #fff;
  border-radius: 5px;
  text-align: center;
  background: #86ceae;
  color: #fff;
  font-family: 'Fredoka One',cursive;
  font-size: 30px;
}

.mainwrap{
  display: none;
  min-width: 1000px;
  width: 100%;
  height: 400px;
  border: 0px solid #fff;
  border-radius: 0px;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.main{
  display: block;
  width: 1000px;
  height: 400px;
  border: 0px solid #fff;
  border-radius: 0px;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  position: relative;
  margin: 0 auto;
}
.house{
  background:#333;
  display: block;
  position: absolute;
  cursor: pointer;
  border-radius:3px 3px 0 0;
  z-index: 1;
}
.house.sel{
  opacity:0.5;
}
.window{
  background:#ccc;
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 2px;
}
.window.on{
  background:#ff0;
}
canvas{
  
}

.road{
  position:absolute;
  left:0px;
  top:290px;
  width: 100%;
  height: 30px;
  background: #505050;
  z-index: 1;
}
.road:before{
  content: '';
  position: absolute;
  left: 0px;
  top: 13px;
  width: 100%;
  z-index: 10;
  height: 0px;
  border: 4px dashed #fff;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.beach{
  position:absolute;
  left:0;
  top:320px;
  width:100%;
  height:30px;
  z-index:1;
  background:#F0CA79;
}
.sea{
  position: absolute;
  left: 0;
  top: 350px;
  width: 100%;
  height: 50px;
  z-index: 2;
  background: url(../img/sea.png) no-repeat 50% -215px;
  overflow: hidden;
}
.sea:before{
  content: '';
  position: absolute;
  left: 50%;
  margin: 0 0 0 -505px;
  top: -50px;
  width: 1010px;
  height: 100px;
  border: 0px solid #fff;
  z-index: 2;
  background: -moz-radial-gradient(center, ellipse cover, rgba(41,184,229,0) 0%, rgba(41,184,229,0) 53%, rgba(41,184,229,1) 71%, rgba(41,184,229,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(41,184,229,0)), color-stop(53%,rgba(41,184,229,0)), color-stop(71%,rgba(41,184,229,1)), color-stop(100%,rgba(41,184,229,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(41,184,229,0) 0%,rgba(41,184,229,0) 53%,rgba(41,184,229,1) 71%,rgba(41,184,229,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(41,184,229,0) 0%,rgba(41,184,229,0) 53%,rgba(41,184,229,1) 71%,rgba(41,184,229,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(41,184,229,0) 0%,rgba(41,184,229,0) 53%,rgba(41,184,229,1) 71%,rgba(41,184,229,1) 100%);
  background: radial-gradient(ellipse at center, rgba(41,184,229,0) 0%,rgba(41,184,229,0) 53%,rgba(41,184,229,1) 71%,rgba(41,184,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0029b8e5', endColorstr='#29b8e5',GradientType=1 );
}
.sky{
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 300px;
  z-index: 0;
  background: rgb(41,184,229);
  background: -moz-linear-gradient(top, rgba(41,184,229,1) 0%, rgba(177,215,226,1) 100%, rgba(181,208,229,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,184,229,1)), color-stop(100%,rgba(177,215,226,1)), color-stop(100%,rgba(181,208,229,1)));
  background: -webkit-linear-gradient(top, rgba(41,184,229,1) 0%,rgba(177,215,226,1) 100%,rgba(181,208,229,1) 100%);
  background: -o-linear-gradient(top, rgba(41,184,229,1) 0%,rgba(177,215,226,1) 100%,rgba(181,208,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(41,184,229,1) 0%,rgba(177,215,226,1) 100%,rgba(181,208,229,1) 100%);
  background: linear-gradient(to bottom, rgba(41,184,229,1) 0%,rgba(177,215,226,1) 100%,rgba(181,208,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#b5d0e5',GradientType=0 );
}
.bgcity{
  position: absolute;
  left: 50%;
  top: 51px;
  width: 1000px;
  height: 249px;
  z-index: 1;
  background: url(../img/gorod_2.png) no-repeat 50% -51px;
  opacity: 0.3;
  margin: 0 0 0 -500px;
}
.tree1{
  display:block;
  position:absolute;
  background:url(../img/tree1.png) no-repeat 0 0;
  z-index:2;
  width:13px;
  height:20px;
  border:0px solid #fff;
}


.plane1_ani{
  -webkit-animation-name: fly1;
  -webkit-animation-duration: 20s;
  animation-name: fly1;
  animation-duration: 20s;
}

.quality{
  position:fixed;
  z-index:11;
  left:0;
  top:0;
}
.work{
  width: 200px;
  font-size: 20px;
  margin: 0 auto 30px;
  display: block;
  height: 50px;
}
.upgradework{
  width: 100px;
  font-size: 16px;
  margin: 0 auto 40px;
  display: block;
  height: 40px;
}
.worklevels td:nth-child(2){
  text-align: right;
  width: 15%;
  font-size: 16px;
}
.worklevels td:nth-child(3){
  text-align: right;
  width: 35%;
  font-size: 12px;
}
.loans{
  max-width: 400px;
  margin: 0 auto;
}
.loans td{
  position: relative;
}
.loans td:first-child{
  text-align: right;
  width: 50%;
  font-size: 20px;
}
.loans td:nth-child(2) button{
  font-size: 20px;
}
.rules{
  max-width: 400px;
  margin: 0 auto;
}
.rules td{
  vertical-align: top;
}
.credits{
  max-width: 400px;
  margin: 20px auto;
}
.credits td{
  vertical-align: top;
  width: 50%;
}
.flats{
  max-width: 400px;
  margin: 40px auto 0;
}
.flats td{
  vertical-align: middle;
}
.flats td:nth-child(3){
  width: 100px;
  text-align: right;
}
.flats td:last-child{
  width:50px;
}
.flat-item{
  display:block;
  margin:0 0 10px 0;
  width:100%;
}
.worklevels{
  max-width: 400px;
  margin: 0 auto;
}
.restart{
  padding: 8px 20px;
  font-size: 20px;
  background: #fff;
  /*color: #86ceae;*/
  color: rgb(27, 188, 157);
  margin: 10px auto 40px;
  width: 150px;
  display: block;
}
.restart:hover{
  color: #86ceae;
}
.scode{
  display: block;
  padding: 10px;
  border: 3px solid rgb(27, 188, 157);
  color:rgb(27, 188, 157);
  border-radius: 7px;
  margin: 10px auto;
  font-size: 20px;
}
.scode.error{
  border: 3px solid rgb(193, 57, 43);
  color:rgb(193, 57, 43);
}
.scode.warning{
  border: 3px solid rgb(241, 196, 15);
  color:rgb(241, 196, 15);
}
.scode.success{
  border: 3px solid #86ceae;
  color:#86ceae;
}
.errormessage{
  background: rgb(193, 57, 43);
  padding: 20px;
  border-radius: 5px;
  max-width: 208px;
  margin: 20px auto;
  text-align: center;
}
.warningmessage{
  background: rgb(241, 196, 15);
  padding: 20px;
  border-radius: 5px;
  max-width: 208px;
  margin: 20px auto;
  text-align: center;
}
.successmessage{
  background: #86ceae;
  padding: 20px;
  border-radius: 5px;
  max-width: 208px;
  margin: 20px auto;
  text-align: center;
}
.scodebtn{
  margin: 0 auto 50px;
  display: block;
  font-size: 20px;
}
#userCount{
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 50%;
}
#svg2{
  position: relative;
  z-index: 1;
}
#svg2 path.selected{
  stroke: #ff0!important;
  stroke-width: 10px!important;
}
#svg2 [buy="yes"] *{
  fill:#FFFF87!important;
  /*stroke: #ff0!important;*/
  /*stroke-width: 2px!important;*/
}
#svg6554{
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 1;
}
#svg6554 .dayleft{
  opacity: 0.5;
}
.coin{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 5px;
  top: 3px;
}
.coin.coin10{
  width: 10px;
  height: 10px;
  background: url(../img/coin-10.png) no-repeat 50% 50%;
  top: 1px;
}
.coin.coin12{
  width: 12px;
  height: 12px;
  background: url(../img/coin-12.png) no-repeat 50% 50%;
  top: 2px;
}
.coin.coin14{
  width: 14px;
  height: 14px;
  background: url(../img/coin-14.png) no-repeat 50% 50%;
  top: 2px;
}
.coin.coin16{
  width: 16px;
  height: 16px;
  background: url(../img/coin-16.png) no-repeat 50% 50%;
  top: 2px;
}
.coin.coin20{
  width: 20px;
  height: 20px;
  background: url(../img/coin-20.png) no-repeat 50% 50%;
}
.coin.coin25{
  width: 25px;
  height: 25px;
  background: url(../img/coin-25.png) no-repeat 50% 50%;
}
.coin.coin50{
  width: 50px;
  height: 50px;
  background: url(../img/coin-50.png) no-repeat 50% 50%;
}
.timer{
  position: absolute;
  display: none;
  top: 10px;
  left: 50%;
  color: #ff0;
  margin: 0 0 0 -30px;
}
.timer:before{
  content:'⚒';
  display: inline-block;
  margin: 0 5px 0 0;
}




.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fly1 {
    0%   {left:-100px;}
    100% {left:1100px;}
}

/* Standard syntax */
@keyframes fly1 {
    0%   {left:-100px;}
    100% {left:1100px;}
}
















